.teacher-item {
    width: 100%;
    background: var(--color-box-base);
    border: 0.1rem solid var(--color-line-in-white);
    border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
}
.teacher-item + .teacher-item {
    margin-top: 3.3rem;
}

.teacher-item .content {
    width: 100%;
    padding: 2.9rem;

    display: flex;
    flex-direction: column;
}

.teacher-item .content header {
    display: flex;
    align-items: center;
}

.teacher-item .content header img {
    width: 8.3rem;
    height: 8.3rem;
    border-radius: 50%;
}

.teacher-item .content header div {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
}

.teacher-item .content header div strong {
    font-family: 'Archivo';
    font-size: 2.5rem;
    color: var(--color-text-title);
    margin-bottom: 0.6rem;
}

.teacher-item .content header div span {
    font-size: 1.6rem;
    color: var(--color-text-base);
}

.teacher-item .content p {
    width: 90%;
    font-size: 1.6rem;
    color: var(--color-text-base);
    margin-top: 3.3rem;
}

.teacher-item .content .schedule {
    width: 100%;
    margin-top: 3.3rem;

    display: grid;
    grid-template-columns: repeat(5, 12.7rem);
    grid-gap: 1.6rem;
}

.teacher-item .content .schedule-mobile {
    display: none;
}

.teacher-item .content .schedule .item {
    height: 14.1rem;
    background: var(--color-box-footer);
    border: 0.1rem solid var(--color-line-in-white);
    border-radius: 0.8rem;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.teacher-item .content .schedule .disable {
    opacity: 60%;
}

.teacher-item .content .schedule .item p {
    display: flex;
    flex-direction: column;
    margin-top: 0;
}

.teacher-item footer {
    width: 100%;
    background: var(--color-box-footer);
    border: 0.1rem solid var(--color-line-in-white);
    border-radius: 0 0 0.8rem 0.8rem;
    padding: 3.3rem 2.9rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teacher-item footer p {
    font-size: 1.4rem;
    color: var(--color-text-complement);

    display: flex;
    align-items: center;
}

.teacher-item footer p strong {
    font-family: 'Archivo';
    font-size: 2rem;
    color: var(--color-primary);
    margin-left: 1.6rem;
}

.teacher-item footer a {
    width: 26rem;
    height: 5.8rem;
    background: var(--color-secundary);
    border: none;
    border-radius: 0.8rem;
    outline: none;
    cursor: pointer;
    transition: background .3s;

    font-family: 'Archivo';
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-title-in-primary);

    display: flex;
    justify-content: center;
    align-items: center;
}
.teacher-item footer a:hover {
    background: var(--color-secundary-dark);
}

.teacher-item footer a img {
    width: 2rem;
    margin-right: 1.6rem;
}

/* mobile */
@media (max-width: 800px) {

    .teacher-item .content header img {
        margin-left: 1.6rem;
    }

    .teacher-item .content p {
        margin: 3.3rem auto;
    }

    .teacher-item .content .schedule {
        display: none;
    }

    .teacher-item .content .schedule-mobile {
        width: 100%;
        border-top: 0.1rem solid var(--color-text-in-primary);

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .teacher-item .content .schedule-mobile span {
        width: 90%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .teacher-item .content .schedule-mobile span p {
        flex: 1;
        font-size: 1.2rem;
        padding: 0 2.5rem;
        margin-top: 2.7rem;
        margin-bottom: 0.8rem;
    }

    .teacher-item .content .schedule-mobile span p + p {
        text-align: right;
    }

    .teacher-item .content .schedule-mobile .item {
        width: 90%;

        display: flex;
        flex-direction: column;
    }

    .teacher-item .content .schedule-mobile .item span {
        width: 100%;
        height: 4.1rem;
        background: var(--color-box-footer);
        border: 0.1rem solid var(--color-line-in-white);
        border-radius: 0.8rem;
        padding: 0 2.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .teacher-item .content .schedule-mobile .item span strong {
        font-family: 'Archivo';
        font-size: 1.6rem;
    }

    .teacher-item footer {
        flex-direction: column;
        padding: 3.3rem 2.5rem;
    }

    .teacher-item footer p {
        width: 100%;
        margin-bottom: 3.3rem;

        justify-content: space-between;
    }

    .teacher-item footer a {
        width: 100%;
    }
}